.wrapper{
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    padding: 50px 110px;
    justify-content: center;

}
.title-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 50px;
    /* identical to box height */

}
.gallery-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-pic {
    width: 180px;
    height: 180px;
    background-color: black;
}
.item-name {
    padding: 10px;
    text-align: center;
}