.page{
    background: #F2F2F2;
}
.listing-subtitle{
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 50px;
        /* identical to box height */
}

.listing-gallery-item{
    flex: 0 0 20%;
    /* margin: 80px 10px; */
    margin: 2%;
    padding: 8%;
    background: #F2F2F2;
}
.item-picture{
    width: 20%;
    /* height: 100%; */
    background: black;
}
.item-description{
    padding:  2% 5%;
    width: 20%;

    /* text-align: center; */
    background: white;
}
.sub-description{
    width: 100%;
    word-wrap:break-word;
}