.alllisting-button { 
    width: 50%;
    margin-bottom: 30px;
}

.listing-space { 
    width: 94.4%; 
    height: 100%; 
    background-color: #f2f2f2;
    padding: 50px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.listing-container { 
    display: inline;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}

.listing-info { 
    display: flex; 
    flex-direction: row; 
}

.first-col { 
    margin-right: 30px;
}

.second-col { 
    margin-left: 30px;
}

#apt-name { 
    width: 70%;
}

#apartment-types { 
    width: 70%;
}

#lease-start { 
    width: 70%;
}

#lease-end { 
    width: 70%;
}

#address { 
    width: 70%;
}

#rent { 
    width: 70%;
}

#lease-len { 
    width: 70%;
}

#rating { 
    width: 70%;
}

#room-desc { 
    width: 70%; 
}

#contact-info { 
    width: 70%;
}

#amenities-desc { 
    width: 70%; 
}

#additional-info { 
    width: 70%;
}

.upload-photos { 
    margin-top: 20px;
    background-color: white;
    font-size: 15px;
    width:100px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
}

.submit-listing { 
    margin-top: 60px;
    background-color: black;
    color: white;
    font-size: 15px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-bottom: 0px;
} 