* {
 font-family: 	Arial;
}
.white-button {
    background-color: white;
    border-radius: 5px;
    padding: 5px 25px;
    border-width: 1.5px;
    /* font-family: ; */
}
.black-button {
    background-color: black;
    border-radius: 5px;
    padding: 5px 10px;
    border-width: 1.5px;
    color: white;
    /* font-family: ; */
}